@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap');

html {
    box-sizing: border-box;
    height: 100%;
}

/*-------------------------Copyright By DEV.SWA1.SU---------------------------------------*/

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/*-------------------------Copyright By DEV.SWA1.SU---------------------------------------*/

body {
    background: linear-gradient(320deg, #63c9b2, #d72880, #ffef78);
    display: flex;
    font-family: 'Dosis', sans-serif;
    font-display: swap;
    height: inherit;
    justify-content: center;
}

.swat {
    position: fixed;
    padding: 10px 10px;
    border: 1px solid rgba(255, 255, 255, 0.34);
    text-align: center;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    flex-basis: 200px;
    width: 200px;
    font-family: 'Dosis', sans-serif;
    font-size: 15px;
    color: #fff;
    margin-right: 950px;
}

/*-------------------------Copyright By DEV.SWA1.SU---------------------------------------*/

.copyright {
    position: fixed;
    padding: 10px 10px;
    border: 1px solid rgba(255, 255, 255, 0.34);
    text-align: center;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    flex-basis: 400px;
    width: 326px;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    color: #fff;
    transform: scale(1);
}

/*-------------------------Copyright By DEV.SWA1.SU---------------------------------------*/

.copyright:hover {
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    flex-basis: 400px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    backdrop-filter: blur(5.5px);
    flex-basis: 20%;
    font-family: inherit;
    transform: scale(1);
}

/*-------------------------Copyright By DEV.SWA1.SU---------------------------------------*/

.copyright:active {
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    flex-basis: 400px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    backdrop-filter: blur(5.5px);
    flex-basis: 20%;
    font-family: inherit;
    background-color: #d72880;
    transform: scale(1);
}

/*-------------------------Copyright By DEV.SWA1.SU---------------------------------------*/

.copyright.active {
    position: absolute;
    padding: 10px 10px;
    border: 1px solid rgba(255, 255, 255, 0.34);
    text-align: center;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    flex-basis: 400px;
    width: 326px;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    color: #fff;
    transform: scale(0);
}

/*-------------------------Copyright By DEV.SWA1.SU---------------------------------------*/

.copyright2 {
    position: absolute;
    padding: 10px 10px;
    border: 1px solid rgba(255, 255, 255, 0.34);
    text-align: center;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    flex-basis: 400px;
    width: 326px;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    color: #fff;
    transform: scale(0);
}

/*-------------------------Copyright By DEV.SWA1.SU---------------------------------------*/

.copyright2.active {
    position: absolute;
    padding: 10px 10px;
    border: 1px solid rgba(255, 255, 255, 0.34);
    text-align: center;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    flex-basis: 400px;
    width: 326px;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    color: #fff;
    transform: scale(1);
}

.copyright2:active {
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    flex-basis: 400px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    backdrop-filter: blur(5.5px);
    flex-basis: 20%;
    font-family: inherit;
    background-color: #d72880;
    transform: scale(1);
}

.copyright2.active:hover {
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    flex-basis: 400px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    backdrop-filter: blur(5.5px);
    flex-basis: 20%;
    font-family: inherit;
    transform: scale(1);
}



.wrapper {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.30);
    border: 1px solid rgba(255, 255, 255, 0.34);
    flex-basis: 400px;
    height: 540px;
    padding: 20px 35px;
    position: center;
    margin: 70px 70px 70px;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
}

.wrapper.active{
    transform: scale(1);
}

.wrapper.deaactive{
    transform: scale(0);
}

.screen {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    overflow: auto;
    padding: 20px;
    text-align: right;
    width: 326px;
}


.calc-button-row {
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}


.calc-button {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    flex-basis: 20%;
    font-family: inherit;
    font-size: 24px;
    height: 65px;
}


.calc-button:last-child {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #fff;
    background: #d72880;
}


.calc-button:last-child:hover {
    background-color: inherit;
    color: inherit;
}


.calc-button:hover {
    background-color: inherit;
}


.calc-button:active {
    background-color: #d72880;
}


.double {
    flex-basis: 47%;
}


.triple {
    flex-basis: 73%;
}